.study{
    max-width: 400px;
    min-width: 200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 16px;
    background-color: var(--bgLight);
    padding: 0 16px;
}

.title {
    font-weight: 600;
    color: var(--accent);
    margin-bottom: 0;
}
.place {
    font-weight: 500;
    font-size: 14px;
}

.status{
    color: var(--textLight);
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
}