@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;

  --accent: #7d7d7d;
  --accent-light: #adadad;
  --accent-dark: #3f3f3f;
  --bg: white;
  --bgLight: #f5f5f5;
  --bgDark: #d5d5d5;
  --textLight: #494949;

  background: var(--bg);
  }

body.pink {
  --accent: #f91880;
  --accent-light: #ff53a3;
  --accent-dark: #971451;
}

body.blue {
  --accent: #2f8cf8;
  --accent-light: #75b4fd;
  --accent-dark: #0a56ad;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    /* background: #121212; */
    --bg:#121212;
    --bgDark: #000000;
    --bgLight: #303030;
    --textLight: #c3c3c3;
  }
}

button, a {
  padding: 10px 20px;
  background: white;
  color: black;
  font-size: 1rem;
  font-weight: 500 ;
  font-family: inherit;
  border-radius: 100px;
  border: none;
  cursor:pointer;
}

button:hover, a:hover {
background-color: var(--accent);
color: white;
transition: .5s;
cursor: pointer;
}


.col{
  display:flex;
  flex-direction:column;
}

.row{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:center;
  gap:20px;
}


