.container {
  padding: 0 2rem;
  display: grid;
  place-items: center;
}

@media (max-width: 768px) {
  .container {
    padding: 0 1rem;
  }
}

.main {
  min-height: 100vh;
  max-width: 1200px;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.subtitle {

  margin-top: 80px;
  color: var(--accent)
}

.role {
  color: var(--accent)
}

.presentation{
  display: flex;
  flex-direction: row ;
  flex-wrap: wrap;
  justify-content: center;
  gap:20px
}

.about {
  max-width: 500px;
}

.stack {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap:30px;
  text-align: left;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:30px;
  text-align: left;
}

.contact{
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}


